.GjesteromBanner {
  width: 100%;
  background: #0d375e;
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.SleepingAnimal {
  width: 20%;
  margin: 50px;
}

.BannerTextHeading {
  font-family: "Comic Sans MS";
	font-size: 3.5em;
	color: white;
	margin: 10px;
	text-align: center;
}
