.InnleggContainer {
  width: 90%;
  margin: 0 auto;
  background: #040845;
  border-radius: 5px;
}

.InnleggText {
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 1.0em;
  color: white;
  padding: 5px;
}

.InnleggTextLine {
  border: 0.5px solid white;
  width: 80%;
  margin: 0 auto;
}

.InnleggTextHeading {
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 1.2em;
  color: white;
}
