.SlogansContainer {
  width: 100%;
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  margin-top: 50px;
}

.LeftSlogan {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.RightSlogan {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NetworkingPic {
  width: 40%;
  margin-bottom: 20px;
}

.LeftSloganText {
  width: 50%;
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 1.25em;
  color: #1f262d;
}
