.ToolbarItemText {
  font-family: "Comic Sans MS";
	font-size: 1.2em;
	color: white;
	margin: 10px;
	text-align: center;
  margin: 2px;
}

.ToolbarItem {
  margin: 10px;
  cursor: pointer;
}

.ToolbarItemText:hover {
  color: #0079ce;
}
